.ListCategories {

    .header {
        color: rgb(255, 255, 255);
        border-radius: 5px;
    } 

    .MuiListItemButton-root {
        height: 5em;
        padding-left: 1.8em;
        border-top: 1px solid #e0e0e02f;
        
    }

    .MuiList-root {
        border-radius: 5px;
    }
}