.ListItemButton {
    background-color: white !important;
    color: rgba($color: #000000, $alpha: 0.83) !important;
    border-right: 1px solid #EBEBEB !important;
    border-bottom: 1px solid #EBEBEB !important;
    &:hover {
        background-color: rgb(240, 240, 240) !important;
    }
}